@import "tailwindcss";

:root {
  color: #0f172a;
  background-color: #ffffff;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  background-color: #ffffff;
  color: #0f172a;
}
